html{
  background: rgb(40,40,40);
  height: auto;
  width: 100%;
  margin:0;
}
.capsuleBackground{
  background: rgba(40,120,150,1);
  background: linear-gradient(90deg, rgba(40,120,180,1) 5%, rgba(25,50,110,1) 100%);
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right:auto;
  width: 600px;
  height: 600px;
  border-radius: 350px 350px 350px 350px;
  border: 2mm solid rgba(0,0,0, 1);
  filter: drop-shadow(0 0 0.35rem rgba(20,20,20,0.2));
  transform: rotate(45deg);
}
.capsuleKaneda{
  background: rgba(0,0,0, 0);
  width: 200px;
  height: 430px;
  border: 1mm solid rgba(0,0,0, 1);
  border-radius: 100px 100px 100px 100px;
  transform: translate(95%, 18%);
  filter: drop-shadow(0 0 0.35rem rgba(20,20,20,0.1));
}
.capsuleTop{
  background: rgb(50,80,175);
  background: linear-gradient(90deg, rgba(50,150,220,1) 5%, rgba(25,40,175,1) 100%);
  margin-left:auto;
  margin-right:auto;
  width: 200px;
  height: 200px;
  border-radius: 100px 100px 0px 0px;
}
.capsuleBottom{
  background: rgb(180,50,40);
  background: linear-gradient(-60deg, rgba(70,10,10,1) 5%, rgba(255,0,50,1) 100%);
  margin-left:auto;
  margin-right:auto;  
  width: 200px;
  height: 230px;
  border-radius: 0px 0px 100px 100px;
  border-top: 1mm solid rgba(255,255,255, 0.3);
}
.capsuleLighting{
  background: rgba(255,255,255, 0);
  width: 190px;
  height: 430px;
  border-left: 2mm solid rgba(255,255,255, 0.3);
  border-radius: 100px 100px 100px 100px;
  transform: translate(0%, -100%);
}
.capsuleInsidde{
  background-image: linear-gradient(135deg, rgba(255,255,255, 0.1)50%, rgba(255,75,175, 0.1)10%);
  width: 190px;
  height: 430px;
  border-radius: 100px 100px 100px 100px;
  transform: translate(3%, -200%);
}
.akiraWord{
  font-family: 'impact';
  -webkit-text-stroke: 1mm black;
  background-image:linear-gradient(0deg, rgba(150,10,10,1)35%, rgba(255,0,120,1)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 300px;
  letter-spacing: 200px;
  text-align: center;
  transform: translate(4%, -130%);
  -webkit-transform: translate(4%, -130%);
  -moz-transform: translate(4%, -130%);
  -ms-transform: translate(4%, -130%);
  -o-transform: translate(4%, -130%);
}